@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Faustina:ital,wght@0,300;0,400;0,500;1,600&family=Kablammo&family=Montserrat:wght@500;600;700;800;900&family=Mulish&family=MuseoModerno&family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
